<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div  id="dvData" class="table-responsive">
            <table  ng-table="tableParams" class="table table-bordered table-hover table-condensed">
                <tbody ng-repeat="data in $data track by $index">
                <tr>
                    <td  class="text-center" header-class="'text-center'"  data-title="'Product SKU'">
                        <span>{{data[0].product.sku}}</span>
                    </td>
                    <td  class="text-center" header-class="'text-center'"  data-title="'Product Name'">{{data[0].product.name|uppercase}}</td>
                    <td  class="text-center" header-class="'text-center'"  data-title="'Version'">{{data[0].product.licenseFeatures[0].version}}</td>
                    <td  class="text-center" header-class="'text-center'"  data-title="'Date Published'">{{data[0].product.publishDate}}</td>
                    <td  data-title="'....'" class="text-center"><span ><i  class="fa fa-exclamation-triangle fa-2x" style="color:gray;" aria-hidden="true"></i></span></td>
                    <td  data-title="'....'" class="text-center"><span ><i  class="fa fa-download fa-2x" style="color:gray;" aria-hidden="true"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<style>-->
    <!--#dvData {-->
        <!--margin-left: 22%;-->
        <!--margin-right: 22%;-->
    <!--}-->
<!--</style>-->