<div class="col-sm-12">
    <h3>Select the Coresponding SKU / Product on SAM for Deactivation and then upload the file to SAM</h3>
    <div class="col-sm-1">
        <button ng-click="showSelect()" class="btn btn-default">{{"btn.back"|translate}}</button>
    </div>
    <div class="col-sm-10 page-logo">
        <img src="../images/Johnson-Controls.png">
    </div>
    <div class="col-sm-1">
        <button ng-click="showUpload()" class="btn btn-default">{{"btn.next"|translate}}</button>
    </div>

</div>