<div class="row">
    <br><br>
    <div align="center" style="width:50%; margin:0 auto;">
        <div class="col-md-6">
            <label for="startDate"><i class="fa fa-calendar"></i>Start Date</label>
            <input ng-change="clearReleaseDate()"  readonly="readonly" type="text" id="startDate" name="startDate"
                   class="form-control date-input" date-picker data="date.start"  data-date-format="YYYY/MM/DD"
                   ng-model="date.start"
                   ng-pattern="/\d{4}(?:/\d{1,2}){2}/" >
        </div>
        <div class="col-md-6">
            <label for="endDate"><i class="fa fa-calendar"></i>End Date</label>
            <input ng-change="setMindate()"  readonly="readonly" type="text" id="endDate" name="endDate"
                   class="form-control date-input" date-picker data="date.end"  data-date-format="YYYY/MM/DD"
                   ng-model="date.end"
                   ng-pattern="/\d{4}(?:/\d{1,2}){2}/" >
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <br>
        <br>
        <div class="table-responsive">
            <table  ng-table="tableParams"  class="table table-condensed table-bordered table-hover">
                <tbody ng-repeat="data in $data" >
                <tr>
                    <td  class="text-center" header-class="'text-center'" data-title="'Date Installed #'" sortable="'line'">{{data["50records"][0]["licenses"][1].creationDate}}</td>
                    <td  class="text-center" header-class="'text-center'" data-title="'Action'" sortable="'products.length'">VED</td>
                    <td  class="text-center" header-class="'text-center'" data-title="'Customer'" sortable="'products.length'">VED</td>
                    <td  class="text-center" header-class="'text-center'" data-title="'Pruduct SKU'">MS-ADX100U-1</td>
                    <td  class="text-center" header-class="'text-center'" data-title="'System ID'" sortable="'description'">12345678</td>
                    <td  class="text-center" header-class="'text-center'" data-title="'Product Name'" sortable="'SKU'">APP SRV 50USER NEW</td>
                    <td class="text-center" header-class="'text-center'" data-title="'Deactivate'"><span ><i  class="fa fa-key fa-2x" style="color:gray;" aria-hidden="true"></i></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>