<div  class="container-fluid">
    <div class="wrapper">
        <form class="form-signin" >
            <h2 class="form-signin-heading">{{"login.form.login.title"|translate}}</h2>
            <button type="submit" ng-click="loginUser()" class="btn btn-lg btn-primary btn-block">{{"login.btn.login"|translate}}</button>
            <!--<button class="btn btn-lg btn-success btn-block"  ng-click="redirect('table')">{{"login.btn.skip"|translate}}</button>-->
            <button class="btn btn-lg btn-default btn-block">{{"login.btn.admin"|translate}}</button>
            <button class="btn btn-lg btn-default btn-block" ng-click="redirect('tech')">{{"login.btn.tech"|translate}}</button>
            <button class="btn btn-lg btn-default btn-block"  ng-click="redirect('branch')">{{"login.btn.branch"|translate}}</button>
            <!--<button class="btn btn-lg btn-default btn-block"  ng-click="redirect('table')">{{"login.btn.table"|translate}}</button>-->
            <button class="btn btn-lg btn-default btn-block"  ng-click="redirect('abcs')">{{"login.btn.abcs"|translate}}</button>
            <button class="btn btn-lg btn-default btn-block"  ng-click="redirect('building')">{{"login.btn.building"|translate}}</button>
        </form>
        
    </div>
</div>
<style>
    body {
        background: #eee !important;
    }
    .btn-default {
        font-size: medium
    }

    .wrapper {
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .form-signin {
        max-width: 380px;
        padding: 15px 35px 45px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 30px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

</style>