<div class="row">
    <div  class="col col-md-12">
        <strong style="color: #00a1d9">Download the License Activation File to SAM</strong>
        <br>
        <br>
        <div class="col-sm-11 page-logo">
            <img src="../images/Johnson-Controls.png">
        </div>
        <div ng-if="showCompleteBtn" class="col-sm-1">
            <button ng-click="complete()" class="btn btn-default">{{"btn.complete"|translate}}</button>
        </div>
        <div class="col-sm-2">
            <button ng-click="showComplete()" class="btn btn-default">Download License Activation File</button>
        </div>
    </div>
</div>